{% extends 'full.html.twig' %}

{% block pageTitle %}
    My Events | {{ parent() }}
{% endblock %}

{% block pageBody %}
    <div class="container" style="margin-top: 20px;">
    <div class="col-sm-7 col-md-5 col-lg-5 column ">
        bla bla bla<br/>
        
    </div>

            </div>
{% endblock %}




{%block javascripts %}
    {{ parent() }}

{% endblock %}


{% block stylesheets %}
    {{ parent() }}
{% endblock %}